body{background-color: wheat ;}
h1{font-family: helvetica;
color: darkblue}
button{color: black;
background-color: bisque}
img{border-radius: 8px;}
strong{color: red;}
h1{color: burlywood;}
a{color: black;}
.gray-element{background-color: gray;}